.outerforumbox {
  width: 600px;
  border: 5px dashed lightgoldenrodyellow; /* Added 'solid' to specify the border style */
  padding: 50px;
  margin: 20px;
}

.forumbox {
  width: 440px;
  border: 3px dotted lightgoldenrodyellow; /* Added 'solid' to specify the border style */
  padding: 50px;
  margin: 20px;
}
